<footer class="footer-section spad pb-0">
	<div class="footer-top">
		<div class="footer-warp">
			<div class="row cf">
				<div class="widget-item">
					<h4>اطلاعات مخاطب</h4>
					<ul class="contact-list">
						<li> نغمه جلال </li>
						<li>09153000348 </li>
						<li>youremail@gmail.com </li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>مهندسی </h4>
					<ul>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>طراحی گرافیک</h4>
					<ul>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>توسعه </h4>
					<ul>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
						<li><a href="">لورم ایپسوم </a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>خبرنامه </h4>
					<form class="footer-newslatter">
						<input type="email" class="tar" placeholder="ایمیل  ">
						<button class="site-btn">تایید</button>
						<p>اسپم نداریم </p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom cf">
		<div class="footer-warp">
			<ul class="footer-menu">
				<li><a href="#">دوره ها و شرایط</a></li>
				<li><a href="#">ثبت نام </a></li>
				<li><a href="#">امنیت</a></li>
			</ul>
		</div>
	</div>
</footer>