<header class="header-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="site-logo">
					<img src="~/img/logo.png" alt="">
				</div>
				<div class="nav-switch">
					<i class="fa fa-bars"></i>
				</div>
			</div>
			<div class="col-lg-9 col-md-9">
				<a href="" class="site-btn header-btn">ورود </a>
				<nav class="main-menu cf">
					<ul>
						<li><a href="index.html">خانه </a></li>
						<li><a href="#">درباره ما </a></li>
						<li><a href="courses.html"> اموزش ها  </a></li>
						<li><a href="blog.html">اخبار </a></li>
						<li><a href="contact.html">مخاطب </a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>